@using Bomberjam.Website.Utils
@model AccountReadViewModel

@{
  ViewData["Title"] = "Account";
}

<div class="jumbotron">
  <h1>Welcome @Model.User.UserName!</h1>

  <p>
    You have <strong><span format-points="@Model.User.Points"></span></strong> points.
    Click <a asp-controller="Account" asp-action="Edit">here</a> to change your username and email address,
    or click <a asp-controller="Web" asp-action="UserDetails" asp-route-userId="@Model.User.Id">here</a> to see your game history.
  </p>
</div>

<h2>Your bot history</h2>

<div class="table-responsive">
  <table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Language</th>
      <th>Errors</th>
      <th>Status</th>
      <th>Games played</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var bot in Model.Bots)
    {
      <tr>
        <td>@bot.Created</td>
        <td>@(string.IsNullOrEmpty(bot.Language) ? "Unknown" : bot.Language)</td>
        <td><pre><code>@bot.Errors</code></pre></td>
        <td>@bot.Status.ToDisplayString()</td>
        <td>@bot.GameCount</td>
      </tr>
    }
    @if (Model.Bots.Count == 0)
    {
      <tr>
        <td colspan="4" class="text-center">Nothing to display</td>
      </tr>
    }
    </tbody>
  </table>
</div>