@using Bomberjam.Website.Utils
@model AccountReadViewModel

@{
  ViewData["Title"] = "Account";
  var utcNow = DateTime.UtcNow;
}

<div class="jumbotron">
  <h1>Welcome @Model.User.UserName!</h1>

  <p>
    You have <strong><span format-points="@Model.User.Points"></span></strong> points.
    Click <a asp-controller="Account" asp-action="Edit">here</a> to change your username and email address,
    or click <a asp-controller="Web" asp-action="UserDetails" asp-route-userId="@Model.User.Id">here</a> to see your game history.
  </p>

  <p class="lead mt-4 mb-0">
    <a asp-controller="Account" asp-action="Submit" class="btn btn-lg btn-success">
      @if (Model.Bots.Count == 0)
      {
        <text>Upload a bot</text>
      }
      else
      {
        <text>Upload another bot</text>
      }
    </a>
  </p>
</div>

<h2>Your bots</h2>

@{
  var isAdministrator = this.IsAuthenticatedAdministrator();
  var colspan = isAdministrator ? 5 : 4;
}

<div class="table-responsive">
  <table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Language</th>
      <th>Status</th>
      <th>Games played</th>
      @if (isAdministrator)
      {
        <th style="width: 1%">&nbsp;</th>
      }
    </tr>
    </thead>
    <tbody>
    @foreach (var bot in Model.Bots)
    {
      <tr>
        <td>@bot.Iteration</td>
        <td><span title="@bot.Created">@bot.Created.RelativeTo(utcNow)</span></td>
        <td>@(string.IsNullOrEmpty(bot.Language) ? "Unknown" : bot.Language)</td>
        <td>
          <div style="max-height: 150px; overflow-y: auto">
          @bot.Status.ToDisplayString()
          @if (bot.Status == CompilationStatus.CompilationFailed && !string.IsNullOrWhiteSpace(bot.Errors))
          {
            <pre><code>@bot.Errors</code></pre>
          }
          </div>
        </td>
        <td>@bot.GameCount</td>
        @if (isAdministrator)
        {
          <td>
            <a asp-controller="Account" asp-action="DownloadBot" asp-route-botId="@bot.Id">
              <i class="fas fa-download" title="@(bot.Status == CompilationStatus.CompilationSucceeded ? "Download packaged bot" : "Download bot source code")"></i>
            </a>
          </td>
        }
      </tr>
    }
    @if (Model.Bots.Count == 0)
    {
      <tr>
        <td colspan="@colspan" class="text-center">There's nothing here</td>
      </tr>
    }
    </tbody>
  </table>
</div>