@using Bomberjam.Website.Utils
@using Bomberjam.Website.Authentication
@{
  var pageTitlePrefix = this.ViewData["Title"] is string prefix ? prefix + " | " : "";
  var pageTitle = pageTitlePrefix + "Bomberjam";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@pageTitle</title>
  <meta name="description" content="Write your bot and fight against other players to reach the first place in this artificial intelligence programming challenge."/>
  <meta property="og:description" content="Write your bot and fight against other players to reach the first place in this artificial intelligence programming challenge."/>
  <meta property="og:image" content="@Url.ContentAbsolute(this.Context, "~/assets/og_image.png")"/>
  <link rel="icon" type="image/png" sizes="16x16" href="@Url.ContentAbsolute(this.Context, "~/favicon-16x16.png")">
  <link rel="icon" type="image/png" sizes="32x32" href="@Url.ContentAbsolute(this.Context, "~/favicon-32x32.png")">
  <link rel="icon" type="image/png" sizes="192x192" href="@Url.ContentAbsolute(this.Context, "~/favicon-192x192.png")">
  <link rel="apple-touch-icon" sizes="180x180" href="@Url.ContentAbsolute(this.Context, "~/apple-touch-icon.png")">
  <link rel="stylesheet" href="~/dist/bundle.css" asp-append-version="true"/>
</head>
<body>
<div id="page-wrapper">
  <div id="header-and-body-wrapper">
    <header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
        <div class="container">
          <a class="navbar-brand" asp-controller="Web" asp-action="Index">Bomberjam <span class="badge badge-secondary badge-sm">alpha</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" asp-controller="Web" asp-action="Leaderboard">Leaderboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-controller="Web" asp-action="Viewer">Viewer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-controller="Web" asp-action="Learn">Learn</a>
              </li>
              @if (this.User.IsAuthenticated())
              {
                <li class="nav-item">
                  <a class="nav-link" asp-controller="Account" asp-action="Index">Account</a>
                </li>
              }
              @if (this.User.IsAdministrator())
              {
                <li class="nav-item">
                  <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin</a>
                </li>
              }
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                @if (this.User.IsAuthenticated())
                {
                  <a class="btn btn-outline-danger" asp-controller="Authentication" asp-action="SignOut">Sign out</a>
                }
                else
                {
                  <a class="btn btn-outline-success" asp-controller="Authentication" asp-action="SignIn">Sign in with GitHub</a>
                }
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <main role="main" class="pb-3">
        @RenderBody()
      </main>
    </div>
  </div>

  <footer id="page-footer">
    <div class="container">
      <p class="text-center text-muted">Made with &#10084;&#65039; by <a href="https://www.linkedin.com/in/simmonanthony">Anthony Simmon</a> on <a href="https://github.com/asimmon/bomberjam-contest">GitHub</a>.</p>
    </div>
  </footer>
</div>

<script src="~/dist/bundle.js" asp-append-version="true"></script>
</body>
</html>