@model IEnumerable<RankedUser>
@{
    ViewData["Title"] = "Leaderboard";
}

<h2>Leaderboard</h2>

<div class="table-responsive">
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>User</th>
            <th>Language</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        @{
          var rank = 1;
          foreach (var user in Model)
          {
            <tr>
              <td>@(rank++)</td>
              <td><a asp-controller="Web" asp-action="User" asp-route-userId="@user.Id">@user.UserName</a></td>
              <td>@user.BotLanguage</td>
              <td>@user.Points</td>
            </tr>
          }
        }
        </tbody>
    </table>
</div>