@using Bomberjam.Website.Utils
@model WebLeaderboardViewModel
@{
  ViewData["Title"] = "Leaderboard";
  var utcNow = DateTime.UtcNow;
}

<div class="jumbotron">
  <h1>Leaderboard</h1>

  <p class="mt-4 mb-0">
    The current season is <strong>@Model.CurrentSeason.Name</strong> and started <span title="@Model.CurrentSeason.Created">@Model.CurrentSeason.Created.RelativeTo(utcNow)</span>.
  </p>
</div>

<div class="table-responsive">
  <table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Organization</th>
      <th>Points</th>
    </tr>
    </thead>
    <tbody>
    @{
      foreach (var user in Model.Users)
      {
        <tr>
          <td>@user.GlobalRank</td>
          <td>
            <a asp-controller="Web" asp-action="UserDetails" asp-route-userId="@user.Id">
              <img src="https://avatars.githubusercontent.com/u/@user.GithubId?s=20" class="avatar-sm" alt="@user.UserName"/>
              @user.UserName
            </a>
          </td>
          <td>@user.Organization</td>
          <td>
            @if (user.HasCompiledBot)
            {
              <span format-points="@user.Points"></span>
            }
            else
            {
              <abbr class="text-muted" title="Has not yet participated in a game"><span format-points="@user.Points"></span></abbr>
            }
          </td>
        </tr>
      }
    }
    @if (Model.Users.Count == 0)
    {
      <tr><td class="text-center" colspan="4">Ranked players will appear here when there will be at least one game</td></tr>
    }
    </tbody>
  </table>
</div>