@using Bomberjam.Website.Utils
@model AdminIndexViewModel

@{
  ViewData["Title"] = "Administration";
  var utcNow = DateTime.UtcNow;
}

<div class="jumbotron">
  <h1>
    Super secret administration
  </h1>
</div>

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
  <div class="alert alert-danger mb-2">@Model.ErrorMessage</div>
}

@if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
{
  <div class="alert alert-success mb-2">@Model.SuccessMessage</div>
}

<div class="text-right">
  <a class="btn btn-primary" asp-controller="Admin" asp-action="UpdateStarters">Update starters from latest GitHub artifacts</a>
</div>

<h2 class="mt-4">Last ten workers</h2>

<div class="table-responsive">
  <table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Online</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var worker in Model.Workers)
    {
      <tr>
        <td>@worker.Id</td>
        <td><span title="@worker.Created">@worker.Created.RelativeTo(utcNow)</span></td>
        <td><span title="@worker.Updated">@worker.Updated.RelativeTo(utcNow)</span></td>
        <td>
          @if (worker.IsOnline)
          {
            <span class="text-success">Online</span>
          }
          else
          {
            <span class="text-danger">Offline</span>
          }
        </td>
      </tr>
    }
    @if (Model.Workers.Count == 0)
    {
      <tr>
        <td colspan="4" class="text-center">There's nothing here</td>
      </tr>
    }
    </tbody>
  </table>
</div>

<h2 class="mt-4">Seasons</h2>

<div class="table-responsive">
  <table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Started</th>
      <th>Finished</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var season in Model.Seasons)
    {
      <tr>
        <td>@season.Id</td>
        <td>@season.Name</td>
        <td><span title="@season.Created">@season.Created.RelativeTo(utcNow)</span></td>
        <td>
          @if (season.Finished.HasValue)
          {
            <span title="@season.Finished.Value">@season.Finished.Value.RelativeTo(utcNow)</span>
          }
          else
          {
            <text>ongoing</text>
          }
        </td>
      </tr>
    }
    @if (Model.Seasons.Count == 0)
    {
      <tr>
        <td colspan="4" class="text-center">There's nothing here</td>
      </tr>
    }
    </tbody>
  </table>

  <div class="text-right">
    <a class="btn btn-primary btn-confirm" asp-controller="Admin" asp-action="StartNewSeason">Start a new season</a>
  </div>
</div>

<h2 class="mt-4">Users</h2>

<div class="table-responsive">
  <form asp-controller="Admin" asp-action="StartGame" method="post">
    <table class="table table-sm table-bordered table-striped admin-users mt-2">
      <thead>
      <tr>
        <th style="width: 1%">&nbsp;</th>
        <th style="width: 1%">&nbsp;</th>
        <th>User</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Points</th>
        <th>All bots / compiled</th>
      </tr>
      </thead>
      <tbody>
      @{
        for (var i = 0; i < Model.Users.Count; i++)
        {
          var user = Model.Users[i];
          var index = i;

          <tr>
            <td>
              <input type="hidden" asp-for="@Model.Users[index].Id"/>
              @if (user.CompiledBotCount > 0)
              {
                <input type="checkbox" asp-for="@Model.Users[index].IsSelected"/>
              }
              else
              {
                <input type="checkbox" asp-for="@Model.Users[index].IsSelected" disabled/>
              }
            </td>
            <td><img src="https://avatars.githubusercontent.com/u/@user.GithubId?s=20" class="avatar-sm" alt=""/></td>
            <td>
              <a asp-controller="Web" asp-action="UserDetails" asp-route-userId="@user.Id">@user.UserName</a>
            </td>
            <td><span title="@user.Created">@user.Created.RelativeTo(utcNow)</span></td>
            <td><span title="@user.Updated">@user.Updated.RelativeTo(utcNow)</span></td>
            <td><span format-points="@user.Points"></span></td>
            <td>@user.AllBotCount / @user.CompiledBotCount</td>
          </tr>
        }
      }
      @if (Model.Users.Count == 0)
      {
        <tr>
          <td colspan="4" class="text-center">There's nothing here</td>
        </tr>
      }
      </tbody>
    </table>

    <div class="text-right">
      <button class="btn btn-primary btn-confirm" type="submit">Start a non-ranked game with the selected users</button>
    </div>
  </form>
</div>