@using Bomberjam.Website.Utils
@model AdminIndexViewModel

@{
  ViewData["Title"] = "Administration";
  var utcNow = DateTime.UtcNow;
}

<div class="jumbotron">
  <h1>
    Super secret administration
  </h1>
</div>

<h2>Last ten workers</h2>

<div class="table-responsive">
  <table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Online</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var worker in Model.Workers)
    {
      <tr>
        <td>@worker.Id</td>
        <td><span title="@worker.Created">@worker.Created.RelativeTo(utcNow)</span></td>
        <td><span title="@worker.Updated">@worker.Updated.RelativeTo(utcNow)</span></td>
        <td>
          @if (worker.IsOnline)
          {
            <span class="text-success">Online</span>
          }
          else
          {
            <span class="text-danger">Offline</span>
          }
        </td>
      </tr>
    }
    @if (Model.Workers.Count == 0)
    {
      <tr>
        <td colspan="4" class="text-center">There's nothing here</td>
      </tr>
    }
    </tbody>
  </table>
</div>

<h2 class="mt-4">Users</h2>

<div class="table-responsive">
  <table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
      <th style="width: 1%">&nbsp;</th>
      <th>User</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Points</th>
      <th>Bots</th>
    </tr>
    </thead>
    <tbody>
    @{
      for (var i = 0; i < Model.Users.Count; i++)
      {
        var user = Model.Users[i];
        <tr>
          <td>
            <input type="checkbox" />
          </td>
          <td>
            <a asp-controller="Web" asp-action="UserDetails" asp-route-userId="@user.Id">@user.UserName</a>
          </td>
          <td><span title="@user.Created">@user.Created.RelativeTo(utcNow)</span></td>
          <td><span title="@user.Updated">@user.Updated.RelativeTo(utcNow)</span></td>
          <td><span format-points="@user.Points"></span></td>
          <td>@user.BotCount</td>
        </tr>
      }
    }
    @if (Model.Users.Count == 0)
    {
      <tr>
        <td colspan="4" class="text-center">There's nothing here</td>
      </tr>
    }
    </tbody>
  </table>
</div>